body {
  font-family: Arial;
  background: #0b1d3a;
  color: white;
  padding: 20px;
}

nav a {
  margin-right: 15px;
  color: #00c3ff;
  text-decoration: none;
}

.card {
  background: #132f5e;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

input, button {
  padding: 8px;
  width: 90%;
}